<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from steelthemes.com/demo/html/Crystalo/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 04 Feb 2020 19:28:52 GMT -->
<head>
    <meta charset="UTF-8">
    <title>Home One || Crystalo || Responsive HTML 5 Template</title>

    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- master stylesheet -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link href="~/Content/css/imp.css" rel="stylesheet" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/Content/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Content/images/favicon/favicon-16x16.png" sizes="16x16">

    <!-- Fixing Internet Explorer-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/html5shiv.js"></script>
    <![endif]-->

</head>

<body>
    <div class="boxed_wrapper">

        <div class="preloader"></div>

        <!-- Start Top Bar style1 -->
        <section class="top-bar-style1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="top-style1 clearfix">
                            @*<p>Crystalo Inspiring Interiors, Basesd On United States... <a href="#">Get Approximate Estimation.</a></p>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Top Bar style1 -->
        <!--Start Main Header-->

        <header class="main-header header-style1">

            <div class="header-upper-style1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="inner-container clearfix">
                                <div class="logo-box-style1 float-left">
                                    <a href="index-2.html">
                                        <img src="~/Content/images/resources/logo.png" alt="Awesome Logo">
                                    </a>
                                </div>
                                <div class="main-menu-box float-right">
                                    <nav class="main-menu clearfix">
                                        <div class="navbar-header clearfix">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>
                                        <div class="navbar-collapse collapse clearfix">
                                            <ul class="navigation clearfix">
                                                <li class="dropdown">
                                                    <a href="@Url.Action("Index","Home")">HOME</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="@Url.Action("Index","About")">ABOUT US</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="@Url.Action("Index","Services")">SERVICES</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="@Url.Action("Index","Projects")">PORTFOLIO</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="@Url.Action("Index","Blog")">BLOG</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index","Contactus")">CONTACT US</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-lower-style1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="inner-content clearfix">
                                <ul class="header-contact-info float-left">
                                    <li>
                                        <div class="single-item">
                                            <div class="icon">
                                                <span class="icon-maps-and-location"></span>
                                            </div>
                                            <div class="text">
                                                <h3>Newyork, USA</h3>
                                                <p>Flat 201, Reynolds Neck Str</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-item">
                                            <div class="icon">
                                                <span class="icon-phone"></span>
                                            </div>
                                            <div class="text">
                                                <h3>+324 123 45 978</h3>
                                                <p>Mon - Friday: 9.00 to 18.00</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-item">
                                            <div class="icon">
                                                <span class="icon-mail"></span>
                                            </div>
                                            <div class="text">
                                                <h3>support@mailus.com</h3>
                                                <p>Get a Free Quote</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="header-social-links-style1 float-right">
                                    <li class="wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                        <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="wow slideInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--End Main Header-->

        @RenderBody()

        <!--Start footer area Style4-->
        <footer class="footer-area style4">
            <div class="container">
                <div class="row">
                    <!--Start single footer widget-->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="single-footer-widget marbtm50-s4">
                            <div class="our-info-box">
                                <div class="footer-logo">
                                    <a href="index-2.html">
                                        <img src="~/Content/images/footer/footer-logo.png" alt="Awesome Logo">
                                    </a>
                                </div>
                                <div class="text">
                                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the blinded by desiremoment.</p>
                                </div>
                                <div class="follow-us-social-links clearfix">
                                    <span>Follw Us On:</span>
                                    <ul>
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="#">Instagram</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End single footer widget-->
                    <!--Start single footer widget-->
                    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                        <div class="single-footer-widget s4">
                            <div class="title-style2">
                                <h3>Usefull Links</h3>
                            </div>
                            <div class="usefull-links">
                                <ul class="float-left">
                                    <li><a href="#">HOME</a></li>
                                    <li><a href="#">ABOUT US</a></li>
                                    <li><a href="#">SERVICE</a></li>
                                    <li><a href="#">PORTFOLIO</a></li>
                                    <li><a href="#">BLOG</a></li>
                                    <li><a href="#">CONTACT US</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End single footer widget-->
                    <!--Start single footer widget-->
                    <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12">
                        <div class="single-footer-widget pdtop50-s4">
                            <div class="title-style2">
                                <h3>Subscribe Us</h3>
                            </div>
                            <div class="subscribe-box">
                                <form class="subscribe-form" action="#">
                                    <input type="email" name="email" placeholder="Your Email">
                                    <button class="btn-one" type="submit">Subscribe<span class="flaticon-next"></span></button>
                                </form>
                                <div class="text">
                                    <p><span>* </span>Subscribe us and get latest news and updates</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End single footer widget-->
                </div>
            </div>
        </footer>
        <!--End footer area style4-->
        <!--Start Footer Contact Info Area-->
        <section class="footer-contact-info-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <ul class="footer-contact-info clearfix">
                            <li>
                                <div class="single-footer-contact-info">
                                    <div class="inner">
                                        <div class="icon">
                                            <span class="icon-global"></span>
                                        </div>
                                        <div class="text">
                                            <p>Flat 20, Reynolds Neck, North<br> Helenaville, FV77 8WS</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-footer-contact-info">
                                    <div class="inner">
                                        <div class="icon">
                                            <span class="icon-support1"></span>
                                        </div>
                                        <div class="text">
                                            <p>+324 123 45 978 & 01<br> <span>Mon - Friday:</span> 9.00am to 6.00pm</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-footer-contact-info">
                                    <div class="inner">
                                        <div class="icon">
                                            <span class="icon-shipping-and-delivery"></span>
                                        </div>
                                        <div class="text">
                                            <p>support@crystalo.com<br> crystalocareer@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--End Footer Contact Info Area-->
        <!--Start footer bottom area-->
        <section class="footer-bottom-area style3">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="copyright-text text-center">
                            <p>© 2009–2019 All Rights Reserved by <a href="#">crystalo.</a> Designed By <a href="#">Themekalia.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End footer bottom area-->

    </div>


    <div class="scroll-to-top-style2 scroll-to-target" data-target="html">
        <span class="fa fa-angle-up"></span>
    </div>



    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/appear.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/bootstrap-select.min.js"></script>
    <script src="~/Content/js/isotope.js"></script>
    <script src="~/Content/js/jquery.bootstrap-touchspin.js"></script>
    <script src="~/Content/js/jquery.countTo.js"></script>
    <script src="~/Content/js/jquery.easing.min.js"></script>
    <script src="~/Content/js/jquery.enllax.min.js"></script>
    <script src="~/Content/js/jquery.fancybox.js"></script>
    <script src="~/Content/js/jquery.mixitup.min.js"></script>
    <script src="~/Content/js/jquery.paroller.min.js"></script>
    <script src="~/Content/js/owl.js"></script>
    <script src="~/Content/js/validation.js"></script>
    <script src="~/Content/js/wow.js"></script>
    <script src="~/Content/assets/jquery-ui-1.11.4/jquery-ui.js"></script>
    <script src="~/Content/assets/language-switcher/jquery.polyglot.language.switcher.js"></script>
    <script src="~/Content/assets/timepicker/timePicker.js"></script>
    <script src="~/Content/js/html5lightbox.js"></script>
    <!---
    <script src="js/gmaps.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyB2uu6KHbLc_y7fyAVA4dpqSVM4w9ZnnUw"></script>
    <script src="js/mapapi.js"></script>
    --->
    @*<script src="Content/js/map-helper.js"></script>


        <script src="~/Content/assets/html5lightbox/html5lightbox.js"></script>*@


    <!--Revolution Slider-->
    <script src="~/Content/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Content/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Content/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Content/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Content/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Content/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Content/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Content/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Content/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/Content/js/main-slider-script.js"></script>

    <!-- thm custom script -->
    <script src="~/Content/js/custom.js"></script>

    <script type="text/javascript">
        $(function () {
            setNavigation();
        });

        function setNavigation() {
            var path = window.location.pathname;
            path = path.replace(/\/$/, "");
            path = decodeURIComponent(path);

            $(".main-menu .navigation .dropdown a").each(function () {
                var href = $(this).attr('href');
                if (path.substring(0, href.length) === href) {
                    $(this).closest('a').addClass('current');
                }
            });
        }
    </script>


</body>


<!-- Mirrored from steelthemes.com/demo/html/Crystalo/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 04 Feb 2020 19:32:08 GMT -->
</html>